<ng-container *ngIf="bannerCardData">
  <div class="bannerCard" [routerLink]="['/moviedetail', bannerCardData.id]">
    <div class="bannerCard-image">
      <img [src]="imageSizes.medium + bannerCardData.poster_path" [alt]="bannerCardData.title" loading="lazy" />
      <!-- <div class="title" *ngIf="changeText">{{bannerCardData.title}}</div> -->
      <div class="gradient">
        <p>{{bannerCardData.title|truncate :'20'}}</p>
        <p>Rating: {{bannerCardData.vote_average}}/10</p>
        <p>Released: {{bannerCardData.release_date|date :'yyyy'}}</p>
      </div>
    </div>
  </div>
</ng-container>
